.navbar {
    background-color: #161616;
    padding: 10px 15px;
    font-size: 22px;
}

nav a {
    margin-right: 10px;
    color: #ff87dd;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    color: #c349a0;
}